* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter";
}

nav {
  background-color: #f55a5a;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo--text {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #ffffff;
}

section {
  width: 1040px;
  margin: auto;
  margin-top: 36px;
  overflow: hidden;
}

.post--content {
  width: 700px;
  margin-right: 100px;
  padding: 20px;
  border-radius: 10px;
  float: right;
  background-color: aliceblue;
}

.post--title {
  font-style: normal;
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: #2b283a;
}

.post--body {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2b283a;
}
